 @media (max-width:576px){
    

   
    .titulo1-2{
      left:0;
      width: 100%;
      height: 95%;
    }
    .capa{
        .text-capa{
            width: 100%;
            padding: 20px;
        }
        
    }
    
.caja-text{
    width: 100%;
    left: 0;
    font-size: 20px;
    top: 10;
}
  }

